.red_btn{
    display: inline-block;
    border: 1px solid #D01C28;
    background: #D01C28;
    padding: 6px 16px;
    color: #ffffff;
}

.red_btn:hover{
    background: #ffffff;
    color: #D01C28;
}

.white_btn_with_border{
    display: inline-block;
    padding: 6px 16px;
    color: #5A5959;
    border: 1px solid #000;
}

.white_btn_with_border:hover{
    background: #5A5959;
    color: #fff;
}